Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make doc
  language: system
  pass_filenames: false

texture
  mesh-3d/mesh_3d/core/texture.py
Due: isort, black, flake8, pylint

Optimize texturing. Update README. Reformat code according to pylint.
  .pylintrc
  README.md
  mesh3d/cli.py
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/simplify_mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh3d_evaluate.py
  mesh3d/mesh3d_reconstruct.py
  mesh3d/state_machine.py
  mesh3d/tools/handlers.py
  mesh3d/tools/mesh_io.py
  mesh3d/tools/metrics.py
  mesh3d/tools/point_cloud_io.py
  mesh3d/tools/rpc.py
Due: isort, black, flake8, pylint

Update config to account for argument modification in a function
  README.md
  docs/source/command_line_user_guide.rst
  example/config.json
Due: sphinx-build

tests
  .pylintrc
  README.md
  docs/source/core/mesh.rst
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  tests/config_tests.json
  tests/test_mesh3d.py
Due: isort, black, flake8, pylint, sphinx-build

Fix normal computation. Minor updates.
  README.md
  mesh3d/core/simplify_mesh.py
  mesh3d/mesh3d_evaluate.py
  mesh3d/tools/metrics.py
Due: isort, black, flake8, pylint

Add comments. Minor modifications of docs. Minor modifications of scripts.
  README.md
  docs/source/command_line_user_guide.rst
  example/config.json
  mesh3d/core/denoise_pcd.py
  mesh3d/core/mesh.py
  tests/test_mesh3d.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: refacto img_tools
  .pylintrc
  CHANGELOG.md
  demcompare/__init__.py
  demcompare/coregistration.py
  demcompare/dem_loading_tools.py
  demcompare/dem_projection_tools.py
  demcompare/img_tools.py
  demcompare/initialization.py
  demcompare/nuth_kaab_universal_coregistration.py
  demcompare/partition.py
  demcompare/stats.py
  tests/helpers.py
  tests/test_dem_loading_tools.py
  tests/test_dem_projection_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix pylint configuration error with pylint version upgrade
  .pylintrc
Due: none

refactor: add exceptions on pylintrc due to no-member errors
  .pylintrc
  demcompare/classification_layer/classification_layer_template.py
  demcompare/classification_layer/fusion_classification.py
  demcompare/classification_layer/global_classification.py
  demcompare/coregistration/coregistration_template.py
  demcompare/stats_dataset.py
  demcompare/stats_processing.py
  docs/source/developer_guide.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: notebook reprojection and coregistration
  .gitignore
  CHANGELOG.md
  Makefile
  notebooks/data/srtm_blurred_and_shifted_res.tif
  notebooks/data/srtm_ref.tif
  notebooks/img/doc_ref.gif
  notebooks/img/logo_demcompare.png
  notebooks/img/schema_coreg.png
  notebooks/reprojection_and_coregistration.ipynb
  notebooks/snippets/utils_notebook.py
  pytest.ini
  setup.cfg
  tests/helpers.py
  tests/test_notebooks.py
Due: isort, black, flake8, pylint

doc: validation plan
  tests/classification_layer/test_classification_layer.py
  tests/classification_layer/test_fusion_classification.py
  tests/classification_layer/test_segmentation_classification.py
  tests/classification_layer/test_slope_classification.py
  tests/coregistration/test_coregistration_nuth_kaab.py
  tests/test_dataset_tools.py
  tests/test_dem_tools.py
  tests/test_img_tools.py
  tests/test_stats_dataset.py
  tests/test_stats_processing.py
  validation_plan/classification_layer/classification_layers.md
  validation_plan/classification_layer/fusion_classification.md
  validation_plan/classification_layer/segmentation_classification.md
  validation_plan/classification_layer/slope_classification.md
  validation_plan/command_line_execution.md
  validation_plan/coregistration/coregistration.md
  validation_plan/coregistration/nuth_kaab.md
  validation_plan/dataset_tools.md
  validation_plan/dem_tools.md
  validation_plan/img_tools.md
  validation_plan/metric/scalar_metrics.md
  validation_plan/metric/vector_metrics.md
  validation_plan/stats_dataset.md
  validation_plan/stats_processing.md
  validation_plan/transformation.md
Due: isort, black, flake8, pylint

refacto: supress remaining todos and pylint fixme
  .pylintrc
  demcompare/__init__.py
  demcompare/dataset_tools.py
  demcompare/dem_tools.py
  demcompare/transformation.py
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: check python version in makefile
  Makefile
Due: none

test: validation plan tests
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/classification_layer/fusion_classification.py
  demcompare/classification_layer/global_classification.py
  demcompare/classification_layer/segmentation_classification.py
  demcompare/classification_layer/slope_classification.py
  demcompare/coregistration/coregistration.py
  demcompare/coregistration/coregistration_template.py
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/metric/metric.py
  demcompare/stats_processing.py
  notebooks/reprojection_and_coregistration.ipynb
  tests/classification_layer/test_classification_layer.py
  tests/classification_layer/test_fusion_classification.py
  tests/coregistration/test_coregistration.py
  tests/test_dataset_tools.py
  tests/test_dem_tools.py
  tests/test_stats_processing.py
  tests/test_transformation.py
Due: isort, black, flake8, pylint, sphinx-build

doc: delete developer doc for master merging
  demcompare/classification_layer/classification_layer.py
  docs/source/developer_guide.rst
  docs/source/developer_guide/class_schema.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/general_dev_information.rst
  docs/source/developer_guide/modules.rst
  docs/source/developer_guide/new_coregistration.rst
  docs/source/getting_started.rst
  docs/source/index.rst
Due: isort, black, flake8, pylint, sphinx-build

refacto: update CHANGELOG.md and pylintrc
  .pylintrc
  CHANGELOG.md
Due: none

Update README. Minor update doc index.
  README.md
  docs/source/index.rst
Due: sphinx-build

Update cli to print the help message when calling 'mesh3d' alone
  mesh3d/cli.py
Due: isort, black, flake8, pylint

Update point cloud for a 8bit colored version.
  example/point_cloud.laz
Due: none

Add custom 'output_name' in config and change by default output name. Add 'save_output' fonctionnality per step. Update example's config.
  example/config.json
  mesh3d/mesh3d_reconstruct.py
  mesh3d/tools/mesh_io.py
Due: isort, black, flake8, pylint

minor: ignore warnings
  tests/coregistration/test_coregistration.py
  tests/test_notebooks.py
  tests/test_stats_processing.py
Due: isort, black, flake8, pylint

Update docs. Change sphinx config to take into account numpy doc format (to remove warnings when building).
  docs/source/command_line_user_guide.rst
  docs/source/conf.py
  docs/source/core/denoise_point_cloud.rst
  docs/source/core/filter.rst
  docs/source/core/mesh.rst
  docs/source/core/simplify_mesh.rst
  docs/source/installation.rst
  docs/source/prerequisites.rst
  docs/source/tools/io.rst
  docs/source/tools/metrics.rst
  example/config_reconstruct.json
  setup.cfg
  tox.ini
Due: isort, black, flake8, pylint, sphinx-build

Add config example for evaluation. Rename config for reconstruction. Update READMEs'. Update function docstrings.
  Makefile
  README.md
  example/README.md
  example/config_evaluate.json
  example/config_reconstruct.json
  mesh3d/cli.py
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/texture.py
  mesh3d/mesh3d_reconstruct.py
  mesh3d/state_machine.py
  mesh3d/tools/rpc.py
Due: isort, black, flake8, pylint

Fix typo
  docs/source/installation.rst
Due: sphinx-build

Fix typo in config_evaluate.json
  example/config_evaluate.json
Due: none

feat: update changelog for release 0.1.0
  CHANGELOG.md
Due: none

test: list functionnal tests
  pytest.ini
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_srtm_data.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint

feat: notebook changes in reprojection_coregistration
  notebooks/img/schema_coreg.png
  notebooks/reprojection_and_coregistration.ipynb
  notebooks/snippets/utils_notebook.py
Due: isort, black, flake8, pylint

feat: corrections for notebook statistics
  notebooks/img/stats_fusion_schema.png
  notebooks/statistics.ipynb
Due: none

test: API tests as functionnal test
  tests/test_stats_dataset.py
  tests/test_stats_processing.py
Due: isort, black, flake8, pylint

fix: flake8 error zip
  demcompare/metric/vector_metrics.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update report doc copyright
  demcompare/sphinx_project_generator.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|demcompare/.*)$
