Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make doc
  language: system
  pass_filenames: false

fix: correct classification layers not coregistered
  CHANGELOG.md
  demcompare/coregistration.py
  demcompare/partition.py
  demcompare/stats.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add tolerance and fix matplotlib version for tests
  setup.cfg
  tests/helpers.py
  tests/test_demcompare.py
Due: isort, black, flake8, pylint

refactor: correct typos on doctrings and pylint issue
  demcompare/img_tools.py
  demcompare/partition.py
  demcompare/report.py
Due: isort, black, flake8, pylint, sphinx-build

fix: python version coherent with demcompare
  .readthedocs.yml
Due: none

fix: Changelog with Readthedocs
  CHANGELOG.md
Due: none

fix: typo in extra_requirements
  .readthedocs.yml
Due: none

refactor: update readme
  README.md
Due: none

doc: corrections on readme and typo on doc
  README.md
  docs/source/getting_started.rst
Due: sphinx-build

refactor: delete the 0.5 offset on translate function
  CHANGELOG.md
  demcompare/coregistration.py
  demcompare/img_tools.py
  demcompare/partition.py
Due: isort, black, flake8, pylint, sphinx-build

fix: correct dsm roi not being considered
  CHANGELOG.md
  demcompare/__init__.py
  demcompare/img_tools.py
  docs/source/userguide/inputs.rst
  tests/data/standard_roi/input/srtm_blurred_and_shifted.tif
  tests/data/standard_roi/input/srtm_ref.tif
  tests/data/standard_roi/input/test_config.json
  tests/data/standard_roi/ref_output/final_config.json
  tests/data/standard_roi/ref_output/final_dh.tif
  tests/data/standard_roi/ref_output/initial_dh.tif
  tests/data/standard_roi/ref_output/snapshots/final_dem_diff_cdf.csv
  tests/data/standard_roi/ref_output/snapshots/final_dem_diff_pdf.csv
  tests/data/standard_roi/ref_output/snapshots/initial_dem_diff_cdf.csv
  tests/data/standard_roi/ref_output/snapshots/initial_dem_diff_pdf.csv
  tests/data/standard_roi/ref_output/stats/slope/stats_results_coherent-classification.csv
  tests/data/standard_roi/ref_output/stats/slope/stats_results_standard.csv
  tests/data/standard_roi/ref_output/test_config.json
  tests/test_demcompare.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: clarifications and make optional input parameter georef
  CHANGELOG.md
  data_samples/json_conf_files/nuth_kaab_config.json
  demcompare/__init__.py
  demcompare/img_tools.py
  docs/source/userguide/inputs.rst
  tests/data/classification_layer/input/test_config.json
  tests/data/standard/input/test_config.json
  tests/data/standard_roi/input/test_config.json
Due: isort, black, flake8, pylint, sphinx-build

feat: correct remaining 0.5 offset
  demcompare/img_tools.py
Due: isort, black, flake8, pylint, sphinx-build

First commit
  .gitignore
  Dockerfile
  README.md
  build_docker.sh
  gdal-config
  mesh3d-lib/README.md
  mesh3d-lib/noxfile.py
  mesh3d-lib/pyproject.toml
  mesh3d-lib/setup.cfg
  run_docker.sh
Due: isort, black, flake8, pylint

fix: dem dictionary entry
  demcompare/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

Init project architecture and scripts
  .gitignore
  mesh3d-lib/mesh3d_lib/__init__.py
  mesh3d-lib/mesh3d_lib/core/__init__.py
  mesh3d-lib/mesh3d_lib/core/denoise.py
  mesh3d-lib/mesh3d_lib/core/filter.py
  mesh3d-lib/mesh3d_lib/core/mesh.py
  mesh3d-lib/mesh3d_lib/core/texture.py
  mesh3d-lib/mesh3d_lib/launcher/__init__.py
  mesh3d-lib/mesh3d_lib/launcher/cli.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/__init__.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/denoising.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/filtering.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/main.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/meshing.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/texturing.py
  mesh3d-lib/mesh3d_lib/tools/__init__.py
  mesh3d-lib/mesh3d_lib/tools/metrics.py
  mesh3d-lib/mesh3d_lib/tools/point_cloud_handling.py
Due: isort, black, flake8, pylint

[WIP] CLI
  Dockerfile
  mesh3d-lib/README.md
  mesh3d-lib/mesh3d_lib/launcher/cli.py
  mesh3d-lib/mesh3d_lib/launcher/runner.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/__init__.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/denoising.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/filtering.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/main.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/meshing.py
  mesh3d-lib/mesh3d_lib/launcher/scripts/texturing.py
  mesh3d-lib/setup.cfg
Due: isort, black, flake8, pylint

[WIP] Denoising
  mesh3d-lib/mesh3d_lib/core/denoise.py
  mesh3d-lib/mesh3d_lib/tools/point_cloud_handling.py
Due: isort, black, flake8, pylint

refactor: update doc and docstrings and give offset bounds for gdal_translate
  CHANGELOG.md
  demcompare/coregistration.py
  demcompare/img_tools.py
  docs/source/userguide/outputs.rst
  docs/source/userguide/step_by_step/coregistration.rst
  tests/data/standard/ref_output/final_config.json
  tests/test_demcompare.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove mosaic.py not used anymore
  demcompare/mosaic.py
Due: isort, black, flake8, pylint, sphinx-build

fix: negative percentil on histogram creation
  CHANGELOG.md
  demcompare/stats.py
  tests/data/standard/ref_output/snapshots/final_dem_diff_pdf.png
  tests/data/standard/ref_output/snapshots/initial_dem_diff_pdf.png
Due: isort, black, flake8, pylint, sphinx-build

Update CHANGELOG.md
  CHANGELOG.md
Due: none

doc: fix dictionary and docstring
  demcompare/img_tools.py
  docs/source/userguide/inputs.rst
Due: isort, black, flake8, pylint, sphinx-build

doc: add template Release gitlab-
  .gitlab/issue_templates/Release.md
Due: none

filtering functions
  mesh3d-lib/mesh3d_lib/core/filter.py
Due: isort, black, flake8, pylint

Update README and setup.cfg. Add functions for denoising and handling of point clouds.
  README.md
  mesh3d-lib/mesh3d_lib/core/denoise.py
  mesh3d-lib/mesh3d_lib/tools/point_cloud_handling.py
  mesh3d-lib/setup.cfg
Due: isort, black, flake8, pylint

filter
  mesh3d-lib/mesh3d_lib/core/filter.py
Due: isort, black, flake8, pylint

Fix scale and offset computations of LAS format
  .gitignore
  mesh3d-lib/mesh3d_lib/tools/point_cloud_handling.py
Due: isort, black, flake8, pylint

Add mesh handling tools. Update point cloud handling tools.
  mesh3d-lib/mesh3d_lib/tools/mesh_handling.py
  mesh3d-lib/mesh3d_lib/tools/point_cloud_handling.py
Due: isort, black, flake8, pylint

filtering
  mesh3d-lib/mesh3d_lib/core/filter.py
Due: isort, black, flake8, pylint

fix: update gitlab templates + add refacto template
  .gitlab/issue_templates/Refacto.md
  .gitlab/issue_templates/Release.md
  .gitlab/merge_request_templates/MR.md
Due: none

denoise
  mesh3d-lib/mesh3d_lib/core/denoise.py
  mesh3d-lib/mesh3d_lib/core/filter.py
Due: isort, black, flake8, pylint

Update mesh and add output type
  mesh3d-lib/mesh3d_lib/core/mesh.py
  mesh3d-lib/mesh3d_lib/tools/mesh_handling.py
  mesh3d-lib/mesh3d_lib/tools/point_cloud_handling.py
Due: isort, black, flake8, pylint

Minor updates
  mesh3d-lib/mesh3d_lib/core/denoise.py
Due: isort, black, flake8, pylint

fix: fix pylint configuration error with pylint version upgrade
  .pylintrc
Due: none

fix: remove pylint errors in demcompare code (stats and partition) for CI
  demcompare/partition.py
  demcompare/stats.py
Due: isort, black, flake8, pylint, sphinx-build

denoise
  mesh3d-lib/mesh3d_lib/core/denoise.py
Due: isort, black, flake8, pylint

Update README
  README.md
Due: none

Reformat code, add requirements in setup
  mesh_3d/__init__.py
  mesh_3d/mesh_3d/core/__init__.py
  mesh_3d/mesh_3d/core/denoise.py
  mesh_3d/mesh_3d/core/filter.py
  mesh_3d/mesh_3d/core/texture.py
  mesh_3d/mesh_3d/tools/__init__.py
  mesh_3d/mesh_3d/tools/mesh_handling.py
  mesh_3d/mesh_3d/tools/metrics.py
  mesh_3d/mesh_3d/tools/point_cloud_handling.py
  mesh_3d/mesh_3d/tools/utils.py
  mesh_3d/setup.cfg
Due: isort, black, flake8, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|demcompare/.*)$
