Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: Isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: Black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: Flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make doc
    language: system
    files: ^(docs/.*|demcompare/.*)$
    pass_filenames: False

fix: typo in copyright
  setup.py
Due: isort, black, flake8, pylint

feat: update Authors file
  AUTHORS.md
Due: none

feat: add Authors file
  AUTHORS.md
Due: none

fix: update copyright year to 2022
  NOTICE
  demcompare/dataset_tools.py
  demcompare/img_tools.py
  demcompare/transformation.py
  notebooks/snippets/utils_notebook.py
  pyproject.toml
  setup.cfg
  setup.py
  tests/classification_layer/test_classification_layer.py
  tests/classification_layer/test_fusion_classification.py
  tests/classification_layer/test_segmentation_classification.py
  tests/coregistration/test_coregistration.py
  tests/metric/test_scalar_metric.py
  tests/metric/test_vector_metric.py
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_srtm_data.py
  tests/test_demcompare_steps.py
  tests/test_stats_dataset.py
  tests/test_stats_processing.py
Due: isort, black, flake8, pylint, sphinx-build

fix: align min python version to 3.8
  .readthedocs.yml
  Makefile
  README.md
  demcompare/__init__.py
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Due: isort, black, flake8, pylint, sphinx-build

feat: add bounds in notebooks
  notebooks/snippets/utils_notebook.py
Due: isort, black, flake8, pylint

feat: add bounds in reproj_dataset and alti_diff
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/dem_tools.py
  demcompare/img_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: bounds in coregistration
  tests/coregistration/test_coregistration_nuth_kaab.py
  tests/test_dem_tools.py
Due: isort, black, flake8, pylint

tests: uniformize segmentation test docstrings
  tests/classification_layer/test_segmentation_classification.py
Due: isort, black, flake8, pylint

tests: uniformize slope test docstrings
  tests/classification_layer/test_slope_classification.py
Due: isort, black, flake8, pylint

test: uniformize test_demcompare docstrings
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_srtm_data.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint

test: uniformize stats processing tests docstrings
  tests/test_stats_processing.py
Due: isort, black, flake8, pylint

tests: uniformize dem_tools test docstrings
  tests/test_dem_tools.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint

test: uniformize stats dataset tests docstrings
  tests/test_stats_dataset.py
Due: isort, black, flake8, pylint

tests: uniformize fusion tests docstrings
  tests/classification_layer/test_fusion_classification.py
Due: isort, black, flake8, pylint

tests: uniformize classification tests docstrings
  tests/classification_layer/test_classification_layer.py
  tests/classification_layer/test_fusion_classification.py
Due: isort, black, flake8, pylint

test: uniformize test_img_tools docstrings
  tests/test_img_tools.py
Due: isort, black, flake8, pylint

feat: improve robustness
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/dem_tools.py
  tests/coregistration/test_coregistration.py
  tests/test_demcompare_gironde_data.py
Due: isort, black, flake8, pylint, sphinx-build

minor: reformated files
  demcompare/__init__.py
  demcompare/metric/vector_metrics.py
  tests/coregistration/test_coregistration.py
  tests/coregistration/test_coregistration_nuth_kaab.py
  tests/test_dem_tools.py
  tests/test_stats_processing.py
Due: isort, black, flake8, pylint, sphinx-build

test: separated tests files
  tests/classification_layer/test_classification_layer.py
  tests/classification_layer/test_fusion_classification.py
  tests/classification_layer/test_get_classification_layer_metrics.py
  tests/classification_layer/test_segmentation_classification.py
  tests/classification_layer/test_slope_classification.py
  tests/classification_layer/test_verify_fusion_layer.py
  tests/conftest.py
  tests/coregistration/test_coregistration.py
  tests/coregistration/test_coregistration_cropped_dem.py
  tests/coregistration/test_coregistration_errors.py
  tests/coregistration/test_coregistration_gironde.py
  tests/coregistration/test_coregistration_nuth_kaab.py
  tests/coregistration/test_coregistration_outputs.py
  tests/coregistration/test_coregistration_srtm.py
  tests/dem_tools/__ini__.py
  tests/dem_tools/test_create_dem.py
  tests/dem_tools/test_dataset_tools.py
  tests/dem_tools/test_dem_tools.py
  tests/dem_tools/test_load_dem_function.py
  tests/dem_tools/test_reproject_dem.py
  tests/dem_tools/test_translate_dem.py
  tests/stats_processing/__init__.py
  tests/stats_processing/test_stats_processing.py
  tests/stats_processing/test_stats_processing_global.py
  tests/stats_processing/test_stats_processing_segmentaion.py
  tests/stats_processing/test_stats_processing_slope.py
  tests/test_dem_tools.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_img_tools.py
  tests/test_stats_dataset.py
  tests/test_stats_processing.py
Due: isort, black, flake8, pylint

minor: add __init__ files + disable protected-access
  notebooks/snippets/__init__.py
  report/__init__.py
  tests/classification_layer/__init__.py
  tests/metric/__init__.py
  tests/metric/test_vector_metric.py
Due: isort, black, flake8, pylint

minor: fixture to get metrics
  tests/classification_layer/test_classification_layer.py
  tests/conftest.py
Due: isort, black, flake8, pylint

feat: change notebooks datas
  notebooks/reprojection_and_coregistration.ipynb
  notebooks/statistics.ipynb
Due: none

minor: clean validation plan
  validation_plan/classification_layer/classification_layers.md
  validation_plan/classification_layer/fusion_classification.md
  validation_plan/classification_layer/segmentation_classification.md
  validation_plan/classification_layer/slope_classification.md
  validation_plan/command_line_execution.md
  validation_plan/coregistration/coregistration.md
  validation_plan/dataset_tools.md
  validation_plan/dem_tools.md
  validation_plan/img_tools.md
  validation_plan/stats_dataset.md
  validation_plan/stats_processing.md
  validation_plan/transformation.md
Due: none

doc: add missing docstrings
  tests/coregistration/test_coregister_dems.py
  tests/coregistration/test_coregistration_cropped_dem.py
  tests/coregistration/test_coregistration_nuth_kaab.py
  tests/metric/test_scalar_metric.py
  tests/metric/test_vector_metric.py
  validation_plan/coregistration/nuth_kaab.md
  validation_plan/metric/scalar_metrics.md
  validation_plan/metric/vector_metrics.md
Due: isort, black, flake8, pylint

feat: notebook
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/snippets/utils_notebook.py
Due: isort, black, flake8, pylint

test: notebook
  tests/test_notebooks.py
Due: isort, black, flake8, pylint

doc: add real names for notebooks
  docs/source/userguide/notebook_execution.rst
Due: sphinx-build

minor: init file
  Makefile
  setup.cfg
Due: none

minor: reformat notebook_utils.py
  notebooks/snippets/utils_notebook.py
Due: isort, black, flake8, pylint

minor: clean black on rebased tests
  demcompare/__init__.py
  tests/coregistration/test_coregister_dems.py
  tests/dem_tools/test_reproject_dem.py
Due: isort, black, flake8, pylint, sphinx-build

fix: align cars-cookiecutter Makefile, packaging, pre-commit, gitignore, clean
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  pyproject.toml
  pytest.ini
  setup.cfg
  sonar-project.properties
Due: none

fix: clean notebooks clear outputs with make
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/reprojection_and_coregistration.ipynb
  notebooks/statistics.ipynb
Due: none

fix: pytest warnings blocking make test
  demcompare/coregistration/nuth_kaab_internal.py
  tests/stats_processing/test_stats_processing.py
  tests/test_demcompare_gironde_data.py
Due: isort, black, flake8, pylint, sphinx-build

fix: clean pytest.ini and align pytest filterwarnings in code
  pytest.ini
  tests/dem_tools/test_load_dem_function.py
Due: isort, black, flake8, pylint

fix: finalize Makefile cleaning and testing, update setup dependency for tox
  Makefile
  setup.cfg
Due: none

fix: tox dependency with 38,39, 310 and remove unecessary importlib
  setup.cfg
  tox.ini
Due: none

fix: conflict install of wheel, pip, setuptools in venv
  Makefile
Due: none
