Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make doc
  language: system
  pass_filenames: false

Fix bug in Poisson reconstruction. Add functions' documentation
  mesh_3d/mesh_3d/core/mesh.py
Due: isort, black, flake8, pylint

Implement state machine.
  mesh_3d/README.md
  mesh_3d/fig_state_machine.png
  mesh_3d/mesh_3d/cli.py
  mesh_3d/mesh_3d/core/denoise.py
  mesh_3d/mesh_3d/core/filter.py
  mesh_3d/mesh_3d/core/mesh.py
  mesh_3d/mesh_3d/mesh_3d.py
  mesh_3d/mesh_3d/param.py
  mesh_3d/mesh_3d/state_machine.py
  mesh_3d/mesh_3d/tools/mesh_handling.py
  mesh_3d/mesh_3d/tools/point_cloud_handling.py
  mesh_3d/setup.cfg
Due: isort, black, flake8, pylint

Update Mesh 3D README
  mesh_3d/README.md
Due: none

fix: pylint errors I1101 by adding extension-pkg-whitelist configuration in pylintrc
  .pylintrc
Due: none

Add classes/handlers PointCloud and Mesh. Refactor code accordingly. Refactor denoising script. Rename files.
  mesh-3d/mesh_3d/core/denoise.py
  mesh-3d/mesh_3d/core/filter.py
  mesh-3d/mesh_3d/core/mesh.py
  mesh-3d/mesh_3d/mesh_3d.py
  mesh-3d/mesh_3d/param.py
  mesh-3d/mesh_3d/state_machine.py
  mesh-3d/mesh_3d/tools/handlers.py
  mesh-3d/mesh_3d/tools/mesh_io.py
  mesh-3d/mesh_3d/tools/point_cloud_io.py
Due: isort, black, flake8, pylint

deoise
  mesh3d-lib/mesh3d_lib/core/denoise.py
Due: isort, black, flake8, pylint

fix: desactivate flake8-copyright linting (not working)
  setup.cfg
Due: none

Add mesh simplification transition and functions. Add functions to the PointCloud and Mesh classes.
  mesh-3d/README.md
  mesh-3d/fig_state_machine.png
  mesh-3d/mesh_3d/core/denoise_mesh.py
  mesh-3d/mesh_3d/core/denoise_pcd.py
  mesh-3d/mesh_3d/core/simplify_mesh.py
  mesh-3d/mesh_3d/param.py
  mesh-3d/mesh_3d/state_machine.py
  mesh-3d/mesh_3d/tools/handlers.py
  mesh-3d/mesh_3d/tools/mesh_io.py
  mesh-3d/mesh_3d/tools/point_cloud_io.py
Due: isort, black, flake8, pylint

fix: align rmse rounding with all stats
  CHANGELOG.md
  demcompare/stats.py
Due: isort, black, flake8, pylint, sphinx-build

texture
  mesh-3d/mesh_3d/core/texture.py
  mesh-3d/mesh_3d/mesh_3d.py
  mesh-3d/mesh_3d/param.py
  mesh-3d/mesh_3d/state_machine.py
  mesh-3d/mesh_3d/tools/handlers.py
  mesh-3d/mesh_3d/tools/mesh_io.py
Due: isort, black, flake8, pylint

Minor updates. Add handling functions for PointCloud and Mesh classes.
  mesh-3d/mesh_3d/core/denoise_pcd.py
  mesh-3d/mesh_3d/core/simplify_mesh.py
  mesh-3d/mesh_3d/tools/handlers.py
  mesh-3d/mesh_3d/tools/utils.py
Due: isort, black, flake8, pylint

Add metrics point to point and point to surface
  mesh-3d/mesh_3d/tools/metrics.py
Due: isort, black, flake8, pylint

Add rasterio to lib setup. Reformat texture code. Fix bugs with point cloud and mesh handlers.
  mesh-3d/mesh_3d/core/mesh.py
  mesh-3d/mesh_3d/core/texture.py
  mesh-3d/mesh_3d/tools/handlers.py
  mesh-3d/mesh_3d/tools/mesh_io.py
  mesh-3d/mesh_3d/tools/metrics.py
  mesh-3d/mesh_3d/tools/point_cloud_io.py
  mesh-3d/setup.cfg
Due: isort, black, flake8, pylint

Integrate texturing to the pipeline and configuration checker.
  mesh-3d/mesh_3d/core/simplify_mesh.py
  mesh-3d/mesh_3d/core/texture.py
  mesh-3d/mesh_3d/state_machine.py
  mesh-3d/mesh_3d/tools/handlers.py
  mesh-3d/mesh_3d/tools/mesh_io.py
Due: isort, black, flake8, pylint

Add rasterio as a requirement. Put rpc functions in a specific script.
  mesh-3d/mesh_3d/tools/rpc.py
  mesh-3d/setup.cfg
Due: isort, black, flake8, pylint

Reformat mesh_3d to separate a 'reconstruct' function and an 'evaluate' function. Complete metrics.
  mesh-3d/mesh_3d/cli.py
  mesh-3d/mesh_3d/mesh_3d_evaluate.py
  mesh-3d/mesh_3d/mesh_3d_reconstruct.py
  mesh-3d/mesh_3d/tools/metrics.py
Due: isort, black, flake8, pylint

Update README.md
  mesh-3d/README.md
Due: none

fix: update RMSE ref values in reference data test sets
  tests/data/classification_layer/ref_output/stats/Status/stats_results_standard.csv
  tests/data/classification_layer/ref_output/stats/fusion_layer/stats_results_standard.csv
  tests/data/classification_layer/ref_output/stats/slope/stats_results_coherent-classification.csv
  tests/data/classification_layer/ref_output/stats/slope/stats_results_standard.csv
  tests/data/standard/ref_output/stats/slope/stats_results_coherent-classification.csv
  tests/data/standard/ref_output/stats/slope/stats_results_incoherent-classification.csv
  tests/data/standard/ref_output/stats/slope/stats_results_standard.csv
  tests/data/standard_roi/ref_output/stats/slope/stats_results_coherent-classification.csv
  tests/data/standard_roi/ref_output/stats/slope/stats_results_standard.csv
Due: none

feat: Changelog Release 0.4.0
  CHANGELOG.md
Due: none

Add Sphinx docs. Update point cloud filtering script.
  README.md
  docs/source/command_line_user_guide.rst
  docs/source/core/denoise_mesh.rst
  docs/source/core/denoise_point_cloud.rst
  docs/source/core/filter.rst
  docs/source/core/index.rst
  docs/source/core/mesh.rst
  docs/source/core/simplify_mesh.rst
  docs/source/core/texture.rst
  docs/source/developer_guide.rst
  docs/source/images/fig_state_machine.png
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/tools/handlers.rst
  docs/source/tools/index.rst
  docs/source/tools/io.rst
  docs/source/tools/metrics.rst
  docs/source/usage.rst
  mesh_3d/cli.py
  mesh_3d/core/denoise_mesh.py
  mesh_3d/core/denoise_pcd.py
  mesh_3d/core/filter.py
  mesh_3d/core/mesh.py
  mesh_3d/core/simplify_mesh.py
  mesh_3d/core/texture.py
  mesh_3d/mesh_3d_evaluate.py
  mesh_3d/mesh_3d_reconstruct.py
  mesh_3d/param.py
  mesh_3d/state_machine.py
  mesh_3d/tools/__init__.py
  mesh_3d/tools/handlers.py
  mesh_3d/tools/mesh_io.py
  mesh_3d/tools/metrics.py
  mesh_3d/tools/point_cloud_io.py
  mesh_3d/tools/rpc.py
  mesh_3d/tools/utils.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

Update docs. Fix bug with initial state in mesh_3d reconstruct. Minor updates and code reformating.
  .pre-commit-config.yaml
  .travis.yml
  docs/source/command_line_user_guide.rst
  docs/source/core/denoise_mesh.rst
  docs/source/core/denoise_point_cloud.rst
  docs/source/core/filter.rst
  docs/source/core/mesh.rst
  docs/source/core/simplify_mesh.rst
  docs/source/core/texture.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/tools/handlers.rst
  mesh_3d/core/denoise_pcd.py
  mesh_3d/core/filter.py
  mesh_3d/core/mesh.py
  mesh_3d/core/simplify_mesh.py
  mesh_3d/mesh_3d_reconstruct.py
  mesh_3d/param.py
  mesh_3d/tools/handlers.py
Due: isort, black, flake8, pylint, sphinx-build

Update README.md
  README.md
Due: none

feat: rename mesh_3d in mesh3d to ease the use
  .coveragerc
  .pre-commit-config.yaml
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  docs/Makefile
  docs/source/command_line_user_guide.rst
  docs/source/conf.py
  docs/source/installation.rst
  mesh3d/__init__.py
  mesh3d/cli.py
  mesh3d/core/__init__.py
  mesh3d/core/denoise_mesh.py
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/simplify_mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh_3d_evaluate.py
  mesh3d/mesh_3d_reconstruct.py
  mesh3d/param.py
  mesh3d/state_machine.py
  mesh3d/tools/__init__.py
  mesh3d/tools/handlers.py
  mesh3d/tools/mesh_io.py
  mesh3d/tools/metrics.py
  mesh3d/tools/point_cloud_io.py
  mesh3d/tools/rpc.py
  mesh3d/tools/utils.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/test_mesh_3d.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update CNES copyright and cars@cnes.fr email for further maintenance
  AUTHORS.md
  Dockerfile
  LICENSE
  Makefile
  docs/source/conf.py
  docs/source/index.rst
  mesh3d/__init__.py
  mesh3d/cli.py
  mesh3d/core/__init__.py
  mesh3d/core/denoise_mesh.py
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/simplify_mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh_3d_evaluate.py
  mesh3d/mesh_3d_reconstruct.py
  mesh3d/state_machine.py
  mesh3d/tools/__init__.py
  mesh3d/tools/handlers.py
  mesh3d/tools/mesh_io.py
  mesh3d/tools/metrics.py
  mesh3d/tools/point_cloud_io.py
  mesh3d/tools/rpc.py
  mesh3d/tools/utils.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/test_mesh_3d.py
Due: isort, black, flake8, pylint, sphinx-build

fix: add apidoc in gitignore
  .gitignore
Due: none

fix: add pre-push and make docs in pre-push
  .pre-commit-config.yaml
  Makefile
Due: none

feat: apply isort and black and add in precommit
  .pre-commit-config.yaml
  mesh3d/cli.py
  mesh3d/core/denoise_mesh.py
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/simplify_mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh_3d_evaluate.py
  mesh3d/mesh_3d_reconstruct.py
  mesh3d/param.py
  mesh3d/state_machine.py
  mesh3d/tools/handlers.py
  mesh3d/tools/mesh_io.py
  mesh3d/tools/metrics.py
  mesh3d/tools/point_cloud_io.py
  mesh3d/tools/rpc.py
  mesh3d/tools/utils.py
Due: isort, black, flake8, pylint

Update docs
  docs/source/core/denoise_mesh.rst
  docs/source/core/filter.rst
  docs/source/core/mesh.rst
  docs/source/index.rst
Due: sphinx-build

Update denoising point cloud doc and rewrite the bilateral filtering code (change for loop over the point cloud to a vectorized approach).
  docs/source/core/denoise_point_cloud.rst
  mesh3d/core/denoise_pcd.py
Due: isort, black, flake8, pylint, sphinx-build

Updated docs, especially on the bilateral filtering.
  .pre-commit-config.yaml
  README.md
  docs/source/command_line_user_guide.rst
  docs/source/core/denoise_point_cloud.rst
  docs/source/images/bilateral_filtering/gif_num_iterations.gif
  docs/source/images/bilateral_filtering/gif_num_neighbours.gif
  docs/source/images/bilateral_filtering/gif_sigma_d.gif
  docs/source/images/bilateral_filtering/gif_sigma_n.gif
  docs/source/prerequisites.rst
  tests/test_mesh_3d.py
Due: isort, black, flake8, pylint, sphinx-build

Update scripts. Fix bilateral filtering. Modify doc and fix error on poisson reconstruction. Allow to texture on a cropped version of the image texture. Minor changes anywhere else.
  .pre-commit-config.yaml
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh_3d_reconstruct.py
  mesh3d/tools/handlers.py
Due: isort, black, flake8, pylint

Modify formatting
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh_3d_reconstruct.py
  mesh3d/tools/handlers.py
Due: isort, black, flake8, pylint

Add small example to test the pipeline.
  example/README.md
  example/config.json
  example/point_cloud.laz
  example/rpc.XML
  example/texture_image.tif
Due: none

Clean code. Update docs and README
  README.md
  docs/source/command_line_user_guide.rst
  example/config.json
  mesh3d/core/denoise_pcd.py
  mesh3d/core/filter.py
  mesh3d/core/mesh.py
  mesh3d/core/texture.py
  mesh3d/mesh3d_evaluate.py
  mesh3d/mesh3d_reconstruct.py
  mesh3d/tools/utils.py
  tests/test_mesh3d.py
Due: isort, black, flake8, pylint, sphinx-build

Fix example config file and guidelines
  example/README.md
  example/config.json
Due: none

Uncomment pre-commit
  .pre-commit-config.yaml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|demcompare/.*)$
