Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

fix: clean left validation plane before release
  validation_plan/command_line_execution.md
Due: none

feat: Release 0.5.0 update Changelog for publication
  CHANGELOG.md
Due: none

fix: typo in readthedocs configuration for docs setup dependency
  .readthedocs.yml
Due: none

fix: upgrade Dockerfile for make docker to work
  Dockerfile
Due: none

fix: block scipy version
  setup.cfg
Due: none

fix: remove python3 setup.py call for future python versions
  Makefile
Due: none

fix: uv between 0 and 1
  mesh3d/core/texture.py
Due: isort, black, flake8, pylint, mypy

fix: remove setup.py usage and clean importlib (from cookiecutter)
  Makefile
  setup.cfg
Due: none

fix: get version through package version directly
  Makefile
Due: none

fix: correct black and isort issues
  mesh3d/core/filter.py
  mesh3d/mesh3d_evaluate.py
  mesh3d/mesh3d_reconstruct.py
  mesh3d/tools/handlers.py
  mesh3d/tools/rpc.py
  setup.cfg
  tests/test_mesh3d.py
Due: isort, black, flake8, pylint, mypy

feat: add version to demcompare cli
  demcompare/demcompare.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: update tests, clean code, clean quality code bugs and update doc and example accordinlgly
  .gitignore
  .pylintrc
  .readthedocs.yml
  Makefile
  README.md
  docs/source/conf.py
  docs/source/index.rst
  example/README.md
  example/config_evaluate.json
  example/config_reconstruct.json
  mesh3d/cli.py
  mesh3d/config.py
  mesh3d/core/denoise_pcd.py
  mesh3d/core/mesh.py
  mesh3d/mesh3d_evaluate.py
  mesh3d/mesh3d_reconstruct.py
  mesh3d/tools/handlers.py
  pyproject.toml
  pytest.ini
  setup.cfg
  tests/config_tests.json
  tests/data/toulouse_test_data/config_tests.json
  tests/data/toulouse_test_data/point_cloud.laz
  tests/data/toulouse_test_data/rpc.XML
  tests/data/toulouse_test_data/texture_image.tif
  tests/helpers.py
  tests/test_mesh3d.py
  tox.ini
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: bug version in Makefile
  Makefile
Due: none

fix: black error with version upgrade
  tests/coregistration/test_coregister_dems.py
Due: isort, black, flake8, pylint, mypy

fix: pylint errors with pylint upgrade
  .pylintrc
  demcompare/sphinx_project_generator.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

feat: version 0.5.1 changelog
  CHANGELOG.md
Due: none

fix: typo in setup.cfg
  setup.cfg
Due: none

fix: clean version in Makefile
  Makefile
Due: none

feat: add gitlab-ci configuration
  .gitlab-ci.yml
Due: none

fix: remove flake8 error B907
  setup.cfg
Due: none

fix: update gitlab-ci
  .gitlab-ci.yml
Due: none

fix: pylint errors and disable possible cyclic import
  .pylintrc
  tests/test_mesh3d.py
Due: isort, black, flake8, pylint, mypy

fix: add test in gitlab-ci
  .gitlab-ci.yml
Due: none

feat: update Dockerfile with open3d dependencies
  Dockerfile
Due: none

fix: update Makefile removing version not working
  Makefile
Due: none

fix: update gitlab-ci with new image cnes3d
  .gitlab-ci.yml
Due: none

fix: go to testall cnes3d docker image
  .gitlab-ci.yml
Due: none

fix: add tox through make test-all
  .gitlab-ci.yml
Due: none

fix: update dependencies in gitlab-ci.yml
  .gitlab-ci.yml
Due: none

docs: add first draft developer guide
  docs/source/developer_guide.rst
  docs/source/developer_guide/class_schema.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/general_dev_information.rst
  docs/source/developer_guide/modules.rst
  docs/source/developer_guide/new_coregistration.rst
  docs/source/index.rst
Due: sphinx-checking

docs: reorganize developer guide documentation and add structure
  AUTHORS.md
  CONTRIBUTING.md
  README.md
  docs/source/conf.py
  docs/source/developer_guide.rst
  docs/source/developer_guide/architecture/coregistration_modules.rst
  docs/source/developer_guide/architecture/dem_tools_modules.rst
  docs/source/developer_guide/architecture/demcompare_cli.rst
  docs/source/developer_guide/architecture/demcompare_module.rst
  docs/source/developer_guide/architecture/report_module.rst
  docs/source/developer_guide/architecture/stats_modules.rst
  docs/source/developer_guide/coding_guide.rst
  docs/source/developer_guide/contributing.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/dev_install_env.rst
  docs/source/developer_guide/dev_tutorials.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_coregistration.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_metric.rst
  docs/source/developer_guide/general_dev_information.rst
  setup.cfg
Due: isort, black, flake8, pylint, mypy, sphinx-checking

doc: complete developper guide documentation
  README.md
  docs/source/developer_guide/architecture/coregistration_modules.rst
  docs/source/developer_guide/architecture/dem_tools_modules.rst
  docs/source/developer_guide/architecture/demcompare_cli.rst
  docs/source/developer_guide/architecture/demcompare_module.rst
  docs/source/developer_guide/architecture/stats_modules.rst
  docs/source/developer_guide/coding_guide.rst
  docs/source/developer_guide/contributing.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_coregistration.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_metric.rst
  docs/source/images/coreg_api.png
  docs/source/images/stats_api.png
  docs/source/userguide/statistics.rst
Due: sphinx-checking

doc: dev doc corrections
  docs/source/developer_guide/architecture/coregistration_modules.rst
  docs/source/developer_guide/architecture/dem_tools_modules.rst
  docs/source/developer_guide/architecture/demcompare_cli.rst
  docs/source/developer_guide/architecture/demcompare_module.rst
  docs/source/developer_guide/architecture/high_level_description.rst
  docs/source/developer_guide/architecture/report_module.rst
  docs/source/developer_guide/architecture/stats_modules.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_coregistration.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_metric.rst
  docs/source/images/modules_schema.png
  docs/source/userguide/statistics.rst
Due: sphinx-checking

doc: typo, formatting, links and other rereading for understanding
  docs/source/developer_guide/architecture/dem_tools_modules.rst
  docs/source/developer_guide/architecture/demcompare_cli.rst
  docs/source/developer_guide/architecture/demcompare_module.rst
  docs/source/developer_guide/architecture/high_level_description.rst
  docs/source/developer_guide/coding_guide.rst
  docs/source/developer_guide/contributing.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/dev_install_env.rst
  docs/source/index.rst
Due: sphinx-checking

doc: add warning for z coregistration
  docs/source/userguide/coregistration.rst
Due: sphinx-checking

doc: links and rephrasing in dev guide doc
  docs/source/developer_guide/architecture/coregistration_modules.rst
  docs/source/developer_guide/architecture/demcompare_cli.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_coregistration.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_metric.rst
Due: sphinx-checking

doc: update getting started with pip upgrade
  docs/source/getting_started.rst
Due: sphinx-checking

fix: add mypy in make lint
  Makefile
Due: none

doc: update getting started to be easier to use on source code, update doc
  .gitignore
  README.md
  data_samples/sample_config.json
  data_samples/srtm_blurred_and_shifted.tif
  data_samples/srtm_ref.tif
  data_samples/srtm_sample.zip
  docs/source/developer_guide/dev_install_env.rst
  docs/source/getting_started.rst
  docs/source/userguide/coregistration.rst
Due: sphinx-checking

fix: report coregistration part, clean/debug init and report, update doc and test
  data_samples/sample_config.json
  demcompare/__init__.py
  demcompare/coregistration/coregistration_template.py
  demcompare/dem_tools.py
  demcompare/demcompare.py
  demcompare/helpers_init.py
  demcompare/metric/scalar_metrics.py
  demcompare/metric/vector_metrics.py
  demcompare/output_tree_design.py
  demcompare/report.py
  demcompare/sphinx_project_generator.py
  docs/source/userguide/command_line_execution.rst
  docs/source/userguide/coregistration.rst
  docs/source/userguide/report.rst
  docs/source/userguide/statistics.rst
  tests/data/end_to_end_data/gironde_test_data/data_description.md
  tests/data/end_to_end_data/gironde_test_data_sampling_ref/data_description.md
  tests/data/end_to_end_data/srtm_test_data/data_description.md
  tests/data/end_to_end_data/srtm_test_data/ref_output/snapshots/final_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/snapshots/final_dem_diff_pdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/snapshots/initial_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/snapshots/initial_dem_diff_pdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/data_description.md
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/snapshots/final_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/snapshots/final_dem_diff_pdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/snapshots/initial_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/snapshots/initial_dem_diff_pdf.csv
Due: isort, black, flake8, pylint, mypy, sphinx-checking

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|demcompare/.*)$
