Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: Isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: Black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: Flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: mypy
    name: mypy
    stages: [ commit ]
    language: system
    entry: mypy
    files: \.py$

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

  - id: sphinx-checking
    name: Checking Sphinx building
    entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
    language: system
    files: ^(docs/.*|demcompare/.*)$
    pass_filenames: False
    stages: [push]

fix: remove duplicated data samples
  data_samples/srtm_blurred_and_shifted.tif
  data_samples/srtm_ref.tif
  docs/source/developer_guide/dev_install_env.rst
Due: sphinx-checking

docs: clean and update typo in report doc
  docs/source/userguide/report.rst
Due: sphinx-checking

fix: clean doctype rtype and type, uniformize ConfigType type in demcompare
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/classification_layer/fusion_classification.py
  demcompare/classification_layer/global_classification.py
  demcompare/classification_layer/segmentation_classification.py
  demcompare/classification_layer/slope_classification.py
  demcompare/coregistration/coregistration.py
  demcompare/coregistration/coregistration_template.py
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/internal_typing.py
  demcompare/log_conf.py
  demcompare/report.py
  demcompare/stats_processing.py
  tests/helpers.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

minor: lint rules for top-level statement and rename __init__ file
  tests/dem_tools/__init__.py
  tests/dem_tools/test_reproject_dem.py
Due: isort, black, flake8, pylint, mypy

docs: clean README
  README.md
Due: none

fix: remove classif mode duplicates possibility in stats_dataset, overload
  demcompare/classification_layer/classification_layer_template.py
  demcompare/stats_dataset.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: remove snapshots directory and use only stats or root
  demcompare/classification_layer/classification_layer_template.py
  demcompare/helpers_init.py
  demcompare/output_tree_design.py
  demcompare/report.py
  demcompare/stats_processing.py
  docs/source/userguide/coregistration.rst
  tests/data/end_to_end_data/gironde_test_data/data_description.md
  tests/data/end_to_end_data/gironde_test_data_sampling_ref/data_description.md
  tests/data/end_to_end_data/srtm_test_data/data_description.md
  tests/data/end_to_end_data/srtm_test_data_with_roi/data_description.md
  tests/test_demcompare_srtm_data.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: clean data_samples usage: remove srtm_sample.zip to access data more easily
  README.md
  data_samples/srtm_blurred_and_shifted.tif
  data_samples/srtm_ref.tif
  data_samples/srtm_sample.zip
  docs/source/developer_guide/dev_install_env.rst
  docs/source/getting_started.rst
Due: sphinx-checking

fix: move tests data ref_output from snapshots to root (finalize snapshots remove)
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/final_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/final_dem_diff_pdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/initial_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/initial_dem_diff_pdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/final_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/final_dem_diff_pdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/initial_dem_diff_cdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/initial_dem_diff_pdf.csv
Due: none

feat: add image views snapshot, pdf, cdf in stats only mode and one dem mode
  demcompare/__init__.py
  demcompare/output_tree_design.py
  demcompare/report.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: correct test naming typo in outputs renaming for diff stats
  tests/stats_processing/test_stats_processing.py
Due: isort, black, flake8, pylint, mypy

fix: bug on image view with nan std
  demcompare/dem_tools.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

docs: clean report, add demcompare version
  demcompare/report.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

docs: changelog release 0.5.2
  CHANGELOG.md
Due: none

fix: mypy errors in notebooks snippets
  notebooks/snippets/utils_notebook.py
Due: isort, black, flake8, pylint, mypy

200-noveltis-stats-module-evolution: add dem_processing and associated tests
  .pylintrc
  demcompare/dem_processing/__init__.py
  demcompare/dem_processing/dem_processing.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_processing/dem_processing_template.py
  tests/dem_processing/__init__.py
  tests/dem_processing/test_dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

200-noveltis-stats-module-evolution: remove before coregestritation from compute_stats_after_coregistration and replace compute_alti_diff_for_stats by process_dem
  demcompare/__init__.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistics.ipynb
  tests/classification_layer/test_get_classification_layer_metrics.py
  tests/conftest.py
  tests/stats_processing/test_stats_processing.py
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_demcompare_srtm_data.py
Due: isort, black, flake8, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

200-noveltis-stats-module-evolution: resolve threads
  demcompare/__init__.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  docs/source/developer_guide/architecture/dem_tools_modules.rst
  docs/source/developer_guide/architecture/demcompare_module.rst
Due: isort, black, flake8, pylint, mypy, sphinx-checking

200-noveltis-stats-module-evolution: resolve threads
  data_samples/sample_config.json
  demcompare/classification_layer/classification_layer_template.py
  demcompare/coregistration/coregistration_template.py
  demcompare/output_tree_design.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

200-noveltis-stats-module-evolution: resolve new threads
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_processing/dem_processing_template.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

199-noveltis-curvature-implementation: add curvature and fix bug for 1 DEM statistics
  demcompare/__init__.py
  demcompare/dataset_tools.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

199-noveltis-curvature-implementation: resolve threads
  demcompare/dem_processing/dem_processing_methods.py
  tests/dem_processing/test_dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

199-noveltis-curvature-implementation: resolve threads 2
  demcompare/__init__.py
  demcompare/dataset_tools.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

199-noveltis-curvature-implementation: replace stats_dem by input_ref when computing the slope
  demcompare/__init__.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

202-noveltis-implementation-of-angular-difference-metric: add angular difference
  demcompare/dem_processing/dem_processing_methods.py
  tests/dem_processing/test_dem_processing_methods.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

203-noveltis-implementation-of-the-slope-normalized-difference-metric: add difference normalized by the slope
  demcompare/dem_processing/dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

203-noveltis-implementation-of-the-slope-normalized-difference-metric: add tests and prevent number of bisn to be 0
  demcompare/metric/vector_metrics.py
  tests/dem_processing/test_dem_processing_methods.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

203-noveltis-implementation-of-the-slope-normalized-difference-metric: resolve threads
  demcompare/dem_processing/dem_processing_methods.py
  tests/dem_processing/test_dem_processing_methods.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

201-noveltis-implementation-of-slope-orientation-histogram-metric-2: add slope orientation histogram
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/metric/vector_metrics.py
  tests/metric/test_vector_metric.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

201-noveltis-implementation-of-slope-orientation-histogram-metric-2: resolve threads
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/img_tools.py
  demcompare/metric/vector_metrics.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

218-noveltis-implementation-de-nouvelles-representations: add new representations
  .pylintrc
  demcompare/__init__.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_representation/__init__.py
  demcompare/dem_representation/dem_representation.py
  demcompare/dem_representation/dem_representation_methods.py
  demcompare/dem_representation/dem_representation_template.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/img_tools.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

218-noveltis-implementation-de-nouvelles-representations:add new representations as 2D metrics
  .pylintrc
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/dem_representation/__init__.py
  demcompare/dem_representation/dem_representation.py
  demcompare/dem_representation/dem_representation_methods.py
  demcompare/dem_representation/dem_representation_template.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/metric/__init__.py
  demcompare/metric/matrice_metrics.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

218-noveltis-implementation-de-nouvelles-representations: resolve threads
  .pylintrc
  demcompare/classification_layer/classification_layer_template.py
  demcompare/img_tools.py
  demcompare/metric/__init__.py
  demcompare/metric/matrix_2d_metrics.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

218-noveltis-implementation-de-nouvelles-representations: resolve threads
  demcompare/__init__.py
  demcompare/helpers_init.py
  demcompare/img_tools.py
  demcompare/metric/matrix_2d_metrics.py
  tests/metric/test_matrix_2d_metric.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

218-noveltis-implementation-de-nouvelles-representations: fix pipeline
  demcompare/__init__.py
  demcompare/helpers_init.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

219-change-slope-computation-method: change slope computation method
  demcompare/dem_processing/dem_processing_methods.py
  tests/dem_processing/test_dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

220-noveltis-simplify-usage-of-slope-orientation-histogram-metric: simplify usage of slope orientation histogram metric
  demcompare/classification_layer/classification_layer_template.py
  demcompare/metric/metric_template.py
  demcompare/metric/vector_metrics.py
  tests/metric/test_vector_metric.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

221-noveltis-refactore-pipeline: refactore pipeline
  demcompare/__init__.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/helpers_init.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

220-noveltis-simplify-usage-of-slope-orientation-histogram-metric: resolve threads
  demcompare/classification_layer/classification_layer_template.py
  demcompare/metric/metric_template.py
  demcompare/metric/vector_metrics.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking
