Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

isort:
  name: Isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: Black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

sphinx-checking:
  name: Checking Sphinx building
  entry: sphinx-build -M html docs/source/ docs/build -W --keep-going
  language: system
  pass_filenames: false
  stages:
  - push

221-noveltis-refactore-pipeline: resolve threads
  demcompare/__init__.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

220-noveltis-simplify-usage-of-slope-orientation-histogram-metric: resolve threads
  demcompare/classification_layer/classification_layer_template.py
  tests/conftest.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

221-noveltis-refactore-pipeline: resolve threads
  demcompare/__init__.py
  demcompare/helpers_init.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

222-noveltis-change-color-maps-depending-on-the-dem-processing-and-be-able-to-change-the-range-in: change color maps depending on the DEM processing and be able to change the range in the conf
  demcompare/__init__.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

224-noveltis-sonarqube-failed: resolve sonarqube failures
  demcompare/coregistration/coregistration_template.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/helpers_init.py
  demcompare/metric/matrix_2d_metrics.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

223-noveltis-add-nodata-values-to-hillshade-and-svf: add nodata values
  demcompare/classification_layer/classification_layer_template.py
  demcompare/metric/matrix_2d_metrics.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

225-noveltis-add-dem-processing-method-for-the-secondary-dem: add DEM processing method for the secondary DEM
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_processing/dem_processing_template.py
  demcompare/metric/matrix_2d_metrics.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

227-noveltis-ajout-de-sec-curvature: add sec curvature
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

226-noveltis-update-report: update report
  data_samples/sample_config.json
  demcompare/__init__.py
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/report.py
  demcompare/stats_dataset.py
  demcompare/stats_processing.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

226-noveltis-update-report: resolvae threads
  data_samples/sample_config_full.json
  demcompare/report.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: clean cars-mesh rename, change API cars-mesh reconstruct, add logging (remove loguru), clean
  .pylintrc
  CONTRIBUTING.md
  Dockerfile
  Makefile
  cars_mesh/cli_evaluate.py
  cars_mesh/core/denoise_pcd.py
  cars_mesh/core/filter.py
  cars_mesh/core/mesh.py
  cars_mesh/core/simplify_mesh.py
  cars_mesh/core/texture.py
  cars_mesh/evaluate_pipeline.py
  cars_mesh/logging.json
  cars_mesh/reconstruct_pipeline.py
  cars_mesh/setup_logging.py
  cars_mesh/state_machine.py
  cars_mesh/tools/handlers.py
  cars_mesh/tools/mesh_io.py
  cars_mesh/tools/metrics.py
  cars_mesh/tools/point_cloud_io.py
  cars_mesh/tools/rpc.py
  docs/source/command_line_user_guide.rst
  docs/source/installation.rst
  setup.cfg
  tests/test_mesh3d.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: update README
  .readthedocs.yml
  README.md
  example/README.md
Due: none

fix: error in docs
  docs/source/command_line_user_guide.rst
Due: sphinx-checking

docs: update documention for publication
  README.md
  docs/source/core/index.rst
  docs/source/design/handlers.rst
  docs/source/design/index.rst
  docs/source/functions/denoise_mesh.rst
  docs/source/functions/denoise_point_cloud.rst
  docs/source/functions/filter.rst
  docs/source/functions/index.rst
  docs/source/functions/mesh.rst
  docs/source/functions/simplify_mesh.rst
  docs/source/functions/texture.rst
  docs/source/index.rst
  docs/source/inputs_outputs.rst
  docs/source/installation.rst
  docs/source/tools/index.rst
  docs/source/tools/io.rst
  docs/source/usage/cars-mesh-evaluate.rst
  docs/source/usage/cars-mesh.rst
Due: sphinx-checking

fix: update gitlab ci
  .gitlab-ci.yml
Due: none

fix: packaging open3d to cpu only, dockerfile clean
  Dockerfile
  setup.cfg
Due: none

fix: typo gitlab ci
  .gitlab-ci.yml
Due: none

feat: add 0.1.1 version Changelog
  CHANGELOG.md
Due: none

231-noveltis-change-title-of-the-histograms: change title of the histograms
  demcompare/metric/vector_metrics.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

230-noveltis-change-unit-of-the-slope: change unit of the slope
  demcompare/dem_processing/dem_processing_methods.py
  demcompare/dem_tools.py
  demcompare/report.py
  tests/dem_processing/test_dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

230-noveltis-change-unit-of-the-slope: resolve threads
  demcompare/dem_tools.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

233-noveltis-change-color-map-of-the-altitude-difference-normalized-by-the-slope: change color map of the angular difference
  demcompare/dem_processing/dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

232-noveltis-update-documentation: Update documentation
  docs/source/conf.py
  docs/source/developer_guide/architecture/demcompare_module.rst
  docs/source/developer_guide/architecture/stats_modules.rst
  docs/source/developer_guide/dev_tutorials.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_dem_processing.rst
  docs/source/getting_started.rst
  docs/source/images/ErrorVSslope.png
  docs/source/images/HillshadeSVF.png
  docs/source/images/modules_schema.png
  docs/source/images/schema_statistiques_class.png
  docs/source/images/slopeOrientationHist.png
  docs/source/images/stats_api.png
  docs/source/images/workflow.png
  docs/source/userguide.rst
  docs/source/userguide/command_line_execution.rst
  docs/source/userguide/coregistration.rst
  docs/source/userguide/scientific_guide.rst
  docs/source/userguide/statistics.rst
Due: isort, black, flake8, pylint, mypy, sphinx-checking

234-noveltis-add-notebooks: add notebook
  demcompare/classification_layer/classification_layer_template.py
  demcompare/metric/matrix_2d_metrics.py
  demcompare/metric/metric_template.py
  notebooks/snippets/utils_notebook.py
  notebooks/statistics_all_metrics.ipynb
  tests/metric/test_matrix_2d_metric.py
  tests/test_notebooks.py
Due: isort, black, flake8, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

232-noveltis-update-documentation: resolve threads
  docs/source/developer_guide/architecture/dem_processing.rst
  docs/source/developer_guide/architecture/demcompare_module.rst
  docs/source/developer_guide/architecture/high_level_description.rst
  docs/source/developer_guide/architecture/stats_modules.rst
  docs/source/developer_guide/demcompare_architecture.rst
  docs/source/developer_guide/dev_tutorials/tuto_new_metric.rst
  docs/source/getting_started.rst
  docs/source/images/AngularDiff.png
  docs/source/images/Curvature.png
  docs/source/images/modules_schema.png
  docs/source/images/slopeOrientationHist.png
  docs/source/index.rst
  docs/source/userguide.rst
  docs/source/userguide/command_line_execution.rst
  docs/source/userguide/coregistration.rst
  docs/source/userguide/scientific_guide.rst
  docs/source/userguide/statistics.rst
  docs/source/userguide/statistics/angular_difference.rst
  docs/source/userguide/statistics/classification_layers.rst
  docs/source/userguide/statistics/dem_processing.rst
  docs/source/userguide/statistics/hillshade_sky_view.rst
  docs/source/userguide/statistics/metrics.rst
  docs/source/userguide/statistics/quality_measures.rst
  docs/source/userguide/statistics/slope_normalized_elevation_difference.rst
  docs/source/userguide/statistics/statistics_outputs.rst
  docs/source/userguide/statistics/statistics_parameters.rst
Due: sphinx-checking

235-noveltis-change-method-to-copy-classification-layers-in-dem-processing-methods: change method to copy classification layers in DEM processing methods
  demcompare/dem_processing/dem_processing_methods.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

235-noveltis-change-method-to-copy-classification-layers-in-dem-processing-methods: resolve thread
  docs/source/userguide/statistics/dem_processing.rst
Due: sphinx-checking

fix: readthedocs error in configuration with API upgrade
  .readthedocs.yml
Due: none

fix: remove install dependency in lint, test targets and clean Makefile
  Makefile
Due: none

fix: update pytest configuration, add pytest-sugar
  pytest.ini
  setup.cfg
Due: none

fix: clean mypy new issues and clean pylint disable along, final Makefile clean
  Makefile
  demcompare/classification_layer/classification_layer_template.py
  demcompare/classification_layer/fusion_classification.py
  demcompare/classification_layer/global_classification.py
  demcompare/classification_layer/segmentation_classification.py
  demcompare/classification_layer/slope_classification.py
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/metric/vector_metrics.py
  notebooks/snippets/utils_notebook.py
  tests/test_notebooks.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: remove dem_processing dependency in coregistration module, clean demcompare_results to coregistration_results, remove alti-diff section
  demcompare/__init__.py
  demcompare/coregistration/coregistration_template.py
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/output_tree_design.py
  demcompare/transformation.py
  docs/source/developer_guide/dev_tutorials/tuto_new_coregistration.rst
  docs/source/userguide/coregistration.rst
  tests/coregistration/test_coregistration_errors.py
  tests/coregistration/test_coregistration_gironde.py
  tests/coregistration/test_coregistration_srtm.py
  tests/data/end_to_end_data/gironde_test_data/data_description.md
  tests/data/end_to_end_data/gironde_test_data/ref_output/coregistration/coregistration_results.json
  tests/data/end_to_end_data/gironde_test_data/ref_output_same_dem/coregistration/coregistration_results.json
  tests/data/end_to_end_data/gironde_test_data_sampling_ref/data_description.md
  tests/data/end_to_end_data/gironde_test_data_sampling_ref/ref_output/coregistration/coregistration_results.json
  tests/data/end_to_end_data/srtm_test_data/data_description.md
  tests/data/end_to_end_data/srtm_test_data/ref_output/coregistration/coregistration_results.json
  tests/data/end_to_end_data/srtm_test_data/ref_output/demcompare_results.json
  tests/data/end_to_end_data/srtm_test_data_with_roi/data_description.md
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/coregistration/coregistration_results.json
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_demcompare_srtm_data.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

docs: clean typo and report doc
  docs/source/userguide/coregistration.rst
  docs/source/userguide/report.rst
Due: sphinx-checking

fix: remove/clean final_diff in tests doctypes
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_demcompare_srtm_data.py
Due: isort, black, flake8, pylint, mypy

fix: remove input-diff alti diff option from StatsProcessing
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer.py
  demcompare/coregistration/coregistration.py
  demcompare/dem_processing/dem_processing.py
  demcompare/metric/metric.py
  demcompare/stats_processing.py
  notebooks/introduction_and_basic_usage.ipynb
  notebooks/statistics.ipynb
  tests/stats_processing/test_stats_processing.py
Due: isort, black, flake8, pylint, mypy, jupyter-nb-clear-output, sphinx-checking

fix: clean OTD_Default and otd in config, clean left print, clean report, clean typos stats
  demcompare/dem_processing/dem_processing.py
  demcompare/helpers_init.py
  demcompare/output_tree_design.py
  demcompare/report.py
  demcompare/stats_processing.py
  tests/data/end_to_end_data/gironde_test_data/ref_output_same_dem/test_config.json
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: remove output_tree_design, remove dem_processing from classification, clean sys.exit, clean along the tests, clean code
  demcompare/__init__.py
  demcompare/classification_layer/classification_layer.py
  demcompare/classification_layer/classification_layer_template.py
  demcompare/classification_layer/fusion_classification.py
  demcompare/classification_layer/global_classification.py
  demcompare/classification_layer/segmentation_classification.py
  demcompare/classification_layer/slope_classification.py
  demcompare/coregistration/coregistration_template.py
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/dem_processing/dem_processing_template.py
  demcompare/dem_tools.py
  demcompare/helpers_init.py
  demcompare/output_tree_design.py
  demcompare/report.py
  demcompare/stats_processing.py
  docs/source/developer_guide/architecture/demcompare_module.rst
  tests/classification_layer/test_classification_layer.py
  tests/coregistration/test_coregistration_errors.py
  tests/coregistration/test_coregistration_outputs.py
  tests/data/end_to_end_data/gironde_test_data/ref_output_same_dem/test_config.json
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_demcompare_srtm_data.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

fix: finish makefile update, clean .gitignore
  .gitignore
  Makefile
Due: none

fix: remove mkdir_p function to os.makedirs with exist_ok option
  demcompare/__init__.py
  demcompare/coregistration/coregistration_template.py
  demcompare/coregistration/nuth_kaab_internal.py
  demcompare/helpers_init.py
  demcompare/sphinx_project_generator.py
  demcompare/stats_processing.py
  tests/coregistration/test_coregistration_errors.py
  tests/coregistration/test_coregistration_outputs.py
  tests/stats_processing/test_stats_processing.py
  tests/test_demcompare_steps.py
Due: isort, black, flake8, pylint, mypy, sphinx-checking

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  sphinx-checking: any of: ^(docs/.*|demcompare/.*)$
